@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(236, 235, 235);
    font-family:  "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 30px;
    height: 62px;
}

header, #putih{
    background-color: white;
}

header .tombol{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #c8d2f7;
    padding: 10px 20px;
}

.awal, .halo{
    color: #466bf3;
    font-size: 16px;
}

.halo{
    border: none;
    background-color: #c8d2f7;
    padding: 0px;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    text-align: left;
}
@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
}

.dalem{
    padding: 5px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    display: content;
    border-style: solid;
    border-color: white;
    box-shadow: 4px 4px 5px grey;
}

.namaKastemer{
    background-color: white;
}

.email, .password{
    margin: 2px;
    background-color: white;
    color: #c8d2f7;
}

.info .noTelpKastemer{
    background-color: #c8d2f7;
    color: white;
    border-radius: 5px
}

.dalem .info{
    display: flex;
    justify-content: space-between;
    background-color: #c8d2f7;
    border-radius: 10px;
    padding: 4px 8px 0 8px
}

.info .idKastemer{
    background-color: #c8d2f7;
    color: white;
    border-radius: 5px
}